#Hero{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        text-align: center;
        font-size: 3.6rem;
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:40px;
        .line{
            width: 100%;
            height: 1px;
            background-color: rgba(0,0,0,.3);
        }
    }
    .body{
        max-width: 900px;
    }
}
#Body{
    .link-wrapper{
        display: flex;
        flex-wrap: wrap;
        gap:40px;
    }
    .link-item{
        width:calc(50% - 20px);
        padding:25px;
        padding-left: 140px;
        border-radius: 10px;
        background-color: #FFF;
        /* border: 1px solid rgba(0,0,0,.4); */
        overflow: hidden;
        position: relative;
        min-height: 150px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transform: scale(1);
        cursor: pointer;
        transition: box-shadow 300ms, transform 300ms;
        h2{
            font-size: 8rem;
            position: absolute;
            line-height: 100%;
            top:10px;
            font-weight: 500;
            left:30px;
            opacity: .8;
            color: transparent;
            transition: opacity 300ms, color 300ms;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: theme('textColor.dark');
        }
        p{
            opacity: .8;
            color:#333;
            font-weight: 500;
            font-size: 1.2rem;
            transition: opacity 300ms;
        }
        &:hover{
            transform: scale(1.01);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 10px;
            h2{
                opacity: .9;
                color:theme('textColor.dark');
            }
            p{
                opacity: 1;
            }
        }
        @screen md{
            width:100%;
        }
    }
}
.data-section{
    p,ol,ul,li{
        margin-bottom: 24px;
    }
    ul{
        list-style: circle;
        padding-left: 20px;
    }
}