---
layout : layout.liquid
title : Reintroduction
--- 

<section class="data-section section-padding">
    <div class="container">
        <h1 class="h2 text-center mb-12">Reintroduction</h1>
        <div>
            <p>Reintroducing the library to this demographic</p>
            <p>The focus of this section is showing what the library can provide to engage that demographic whether it be online resources, program ideas or something else. The new adult demographic has to know we offer these resources, programs, spaces, etc. so how do we do that? Through social media.&nbsp;</p>
            <ul>
                <li>Let them know we exist with a strong social media presence</li>
                <li>84% of adults in this age group use social media (Pew Research) with Instagram, Snapchat and Tik Tok being their main choices. 95% of those adults also use YouTube. 865 of people in this age group use FaceBook (Khoros)</li>
                <li>The average person bounces between 7 different social media networks per month and averaging approximately 95 minutes per day using those platforms (eMarketer Insider Intelligence.com)</li>
            </ul>
            <img src="{{ '/assets/image/image1.png' | url }}" class="my-4"></img>
            <p>
                <strong>Ideas from New Adult Aged Coworkers</strong>
            </p>
            <ul>
                <li>Gaming consoles (PS5, XBox, Switch) and gaming nights</li>
                <li>Library of things</li>
                <li>Passport services and travel links/resources</li>
                <li>A space for them/space for zoom calls/space for private study</li>
                <li>After hours programs - most of that age group is working during the day</li>
                <li>Financial literacy programs - credit scores, starting a small business, applying for a loan, investing, etc.</li>
                <li>Young parents programs and resources</li>
                <li>Trivia programs, bingo, music bingo, board game tournaments</li>
                <li>Arts &amp; crafts</li>
                <li>Offsite programs</li>
                <li>Programs that DO NOT involve alcohol</li>
                <li>Book displays geared towards them</li>
                <li>Gardening programs</li>
                <li>LGBTQ resources and programs</li>
                <li>Information on home ownership/rent/etc.</li>
                <li>Job search information (resumes &amp; cover letters, interview skills, job fair, resources)</li>
                <li>Basic etiquette</li>
            </ul>
            <p>Using the list above the following is a list of easily accessible resources for libraries to use and share with the new adult population. They&rsquo;re broken down into categories and this list can be expanded to add more categories and resources as time goes on. These resources highlight what most people wanted to see for new adults:</p>
            <p>
                <strong>JOB RESOURCES</strong>
            </p>
            <p>
                <strong>Through polls conducted amongst staff members who fall into this category we have highlighted these resources as important</strong>
            </p>
            <p>
                <strong>Job Resources - Resume and Cover Letter Links</strong>
            </p>
            <ol>
                <li>ALA Resume Guidelines:
                    <a href="https://www.ala.org/educationcareers/employment/careerresources/resumes/guidelines">https://www.ala.org/educationcareers/employment/careerresources/resumes/guidelines</a>
                    - helpful for people creating a resume for the first time</li>
                <li>Resume Rubric:
                    <a href="http://www.career.fsu.edu/sites/g/files/imported/storage/original/application/5c1d4cf170f4db063a75ab84888df79f.pdf">http://www.career.fsu.edu/sites/g/files/imported/storage/original/application/5c1d4cf170f4db063a75ab84888df79f.pdf</a>
                    - this rubric from Florida State University describes the different parts of a resume</li>
                <li>Writing a Resume:
                    <a href="https://www.wellesleyfreelibrary.org/research/career-resources/writing-a-resume/">https://www.wellesleyfreelibrary.org/research/career-resources/writing-a-resume/</a>
                    - An easily perusable guide from Wellesley Free Library</li>
                <li>My Perfect Resume:
                    <a href="https://www.myperfectresume.com">https://www.myperfectresume.com</a>
                    - offers free samples of resumes and resume formatting from a variety of industries</li>
                <li>Optimal Resume:
                    <a href="http://houstonlibrary.optimalresume.com/">http://houstonlibrary.optimalresume.com/</a>
                    - this online resource sponsored by the Houston Public Library provides information for patrons on resumes, interview prep and website building.</li>
                <li>University of California at Davis Internship and Career Center: Cover Letter Samples:
                    <a href="https://icc.ucdavis.edu/materials/cover-letters-samples.htm">https://icc.ucdavis.edu/materials/cover-letters-samples.htm</a>
                    - this resource provides annotated cover letter examples that can be shared with others</li>
                <li>University of California at Davis Internship and Career Center: Resume and Curriculum Vitae: https://icc.ucdavis.edu/materials/resume/index.htm</li>
            </ol>
            <p>
                <strong>Job Resources - Career Search</strong>
            </p>
            <ol>
                <li>Cornell University&rsquo;s Career Services:
                    <a href="http://www.career.cornell.edu/resources/links.cfm">http://www.career.cornell.edu/resources/links.cfm</a>
                </li>
                <li>EmploymentGuide.com :
                    <a href="http://www.employmentguide.com">http://www.employmentguide.com</a>
                </li>
                <li>USA Jobs:
                    <a href="https://www.usajobs.gov">https://www.usajobs.gov</a>
                </li>
                <li>IMDiversity:
                    <a href="http://imdiversity.com/">http://imdiversity.com/</a>
                </li>
                <li>Occupational Outlook Handbook:
                    <a href="http://www.bls.gov/ooh">http://www.bls.gov/ooh</a>
                </li>
                <li>USA.gov:
                    <a href="https://www.usa.gov">https://www.usa.gov</a>
                </li>
                <li>CareerBuilder: https://www.careerbuilder.com/search-jobs/apply-online</li>
            </ol>
            <p>
                <strong>Job Resources - Career Assessment</strong>
            </p>
            <ol>
                <li>Holland Code Career Test:
                    <a href="http://www.truity.com/test/holland-code-career-test">http://www.truity.com/test/holland-code-career-test</a>
                    - takes approximately 20 minutes, is free and identifies an individual&rsquo;s strengths among five occupational themes</li>
                <li>JobHuntersBible.com:
                    <a href="http://www.jobhuntersbible.com/for-job-hunters">http://www.jobhuntersbible.com/for-job-hunters</a>
                    - official site of Dick Bolles, author of What Color is Your Parachute? - offers free articles and resources to help identify career goals. Also offers an assessment for $4.99</li>
                <li>MAPP:
                    <a href="http://www.assessment.com/">http://www.assessment.com/</a>
                    - free test available for unemployed, the underemployed, or those looking for a career change.&nbsp;</li>
            </ol>
            <p>
                <strong>Job Resources - Interview Skills and Tips</strong>
            </p>
            <ol>
                <li>University of New Hampshire - Interview Skills:
                    <a href="https://www.unh.edu/career/students/resources/interview-skills">https://www.unh.edu/career/students/resources/interview-skills</a>
                </li>
                <li>CareerOneStop:
                    <a href="https://www.careeronestop.org/JobSearch/Interview/interview-tips.aspx">https://www.careeronestop.org/JobSearch/Interview/interview-tips.aspx</a>
                </li>
                <li>Harvard Business Review: Strategies of Effective Interviewing:
                    <a href="https://hbr.org/1964/01/strategies-of-effective-interviewing">https://hbr.org/1964/01/strategies-of-effective-interviewing</a>
                </li>
                <li>Indeed Job Interview Tips:
                    <a href="https://www.indeed.com/career-advice/interviewing/job-interview-tips-how-to-make-a-great-impression">https://www.indeed.com/career-advice/interviewing/job-interview-tips-how-to-make-a-great-impression</a>
                </li>
                <li>Department of Labor - Job Interview Tips:
                    <a href="https://www.dol.gov/general/jobs/interview-tips">https://www.dol.gov/general/jobs/interview-tips</a>
                </li>
            </ol>
            <p>
                <strong>Job Resources - Programming Ideas</strong>
            </p>
            <ul>
                <li>Job Fair</li>
                <li>Resume Roundtable</li>
                <li>Computer Skills for Job Seekers</li>
                <li>Interview Skills</li>
                <li>Other ideas?</li>
            </ul>
            <p>
                <strong>FINANCIAL RESOURCES</strong>
            </p>
            <p>
                <strong>Financial Resources - Financial Terms and Tips</strong>
            </p>
            <ol>
                <li>360 Degrees of Financial Literacy:
                    <a href="http://www.360financialliteracy.org">http://www.360financialliteracy.org</a>
                    - This site, a volunteer product of certified public accountants focuses on personal financial literacy for Americans.</li>
                <li>Money Smart - A Financial Education Program:
                    <a href="https://www.fdic.gov/consumers/consumer/moneysmart/">https://www.fdic.gov/consumers/consumer/moneysmart/</a>
                    - This curriculum (also available in Spanish) was created to help low and moderate-income individuals outside the financial mainstream enhance their financial skills and create positive banking relationships</li>
                <li>MyMoney.Gov:
                    <a href="http://www.mymoney.gov/Pages/default.aspx">http://www.mymoney.gov/Pages/default.aspx</a>
                    - A government learning tool focusing on earning, borrowing, saving and investing.</li>
                <li>Wi$eUp: Financial Planning for Generation X &amp; Y Women:
                    <a href="http://wiseupwomen.tamu.edu/">http://wiseupwomen.tamu.edu/</a>
                    - Developed by the US Dept. of Labor Women&rsquo;s Bureau and geared towards Generation X and Millenial Women.</li>
            </ol>
            <p>
                <strong>Financial Resources - Credit, Financial Safety and Identity Protection</strong>
            </p>
            <ol>
                <li>Annual Credit Report:
                    <a href="https://www.annualcreditreport.com/index.action">https://www.annualcreditreport.com/index.action</a>
                    - Federal law allows for one free credit report a year from all three major credit reporting agencies. This source provides access to that report.</li>
                <li>Credit Reports and Credit Scores:
                    <a href="https://www.federalreserve.gov/creditreports/pdf/credit_reports_scores_2.pdf">https://www.federalreserve.gov/creditreports/pdf/credit_reports_scores_2.pdf</a>
                    - This provides a consumer guide to credit reports and scores, including FAQ and tips.</li>
                <li>Federal Trade Commission - Consumer Information:
                    <a href="https://www.consumer.ftc.gov/">https://www.consumer.ftc.gov/</a>
                    - This government site offers scam alerts, a consumer complaint form, and a portal for retrieving the free annual credit check.</li>
                <li>Credit Karma:
                    <a href="https://www.creditkarma.com/">https://www.creditkarma.com/</a>
                    - This website offers a truly free credit check service, offering credit reports based on TransUnion and Equifax reports.&nbsp;</li>
            </ol>
            <p>
                <strong>Financial Resources - Accounts</strong>
            </p>
            <ol>
                <li>Bankrate:
                    <a href="http://www.bankrate.com/">http://www.bankrate.com/</a>
                    - This site provides an easily comparable guide to rates for bank accounts and loans (including student loans).</li>
                <li>Choose to Save:
                    <a href="http://www.choosetosave.org/calculators/">http://www.choosetosave.org/calculators/</a>
                    - This site offers a comprehensive list of financial calculators, including those focused on budgets, credit cards, and savings accounts.</li>
                <li>Credit Card Agreements and Surveys:
                    <a href="http://www.consumerfinance.gov/data-research/credit-card-data/">http://www.consumerfinance.gov/data-research/credit-card-data/</a>
                    - A full service database of credit card agreements</li>
                <li>HelpWithMyBank.gov:
                    <a href="http://www.helpwithmybank.gov/">http://www.helpwithmybank.gov/</a>
                    - Thai website provides answers regarding credit cards, bank accounts and mortgages</li>
            </ol>
            <p>
                <strong>Financial Resources - Income Taxes</strong>
            </p>
            <ol>
                <li>Internal Revenue Service (IRS):
                    <a href="https://www.irs.gov/">https://www.irs.gov/</a>
                    - The official website of the IRS and will provide tax information, terms and forms needed to complete taxes.</li>
                <li>Investopedia: Taxes Terms:
                    <a href="https://www.investopedia.com/categories/taxes.asp?page=2#axzz2BMmdXRMM">https://www.investopedia.com/categories/taxes.asp?page=2#axzz2BMmdXRMM</a>
                    - This guide provides a list of tax terms that new adults might not know</li>
                <li>Taxpayer Advocate Service:
                    <a href="https://www.irs.gov/advocate">https://www.irs.gov/advocate</a>
                    - Provides assistance for people having tax troubles</li>
                <li>Understanding Taxes - Student:
                    <a href="https://apps.irs.gov/app/understandingTaxes/student/index.jsp">https://apps.irs.gov/app/understandingTaxes/student/index.jsp</a>
                    - This guide provides information for students in learning about their taxes.&nbsp;</li>
            </ol>
            <p>
                <strong>Financial Resource - Finding Housing</strong>
            </p>
            <ol>
                <li>HUD (U.S. Dept. of Housing and Urban Development):
                    <a href="https://www.hud.gov/topics/buying_a_home">https://www.hud.gov/topics/buying_a_home</a>
                    - This website from the U.S. Government HUD Department provides information on everything from figuring out what you can afford, shopping for a loan, home buying programs, how to create wish lists for what you want, making an offer and more.</li>
                <li>Embrace Home Loans - 50+ Resources for First Time Home Buyers:
                    <a href="https://blog.embracehomeloans.com/50-resources-for-first-time-homebuyers/">https://blog.embracehomeloans.com/50-resources-for-first-time-homebuyers/</a>
                    - This is a loan website so obviously they want to promote their business but they do provide a lot of helpful links and tips for first time home buyers including information on VA loans, down payments, budgeting and closing.</li>
                <li>Rocket Mortgage - 13 Tips for First Time Home Buyers:
                    <a href="https://www.rocketmortgage.com/learn/first-time-home-buyer-tips?QLSource=RMTextLink.xml">https://www.rocketmortgage.com/learn/first-time-home-buyer-tips?QLSource=RMTextLink.xml</a>
                    - Like No. 2, Rocket Mortgage ultimately wants you to use their service. However, they provide great tips and information on preapproval, types of loans and all the things associated with closing.&nbsp;</li>
                <li>Apartment List: First Time Apartment Renter&rsquo;s Guide: 20 Step Checklist:
                    <a href="https://www.apartmentlist.com/renter-life/first-time-renter-apartment-guide-checklist">https://www.apartmentlist.com/renter-life/first-time-renter-apartment-guide-checklist</a>
                    - Not ready to buy a house? This guide from Apartment List provides helpful tips and information including a rent calculator.</li>
                <li>Bungalow: How to Rent Your First Apartment - A Step-by-Step Guide:
                    <a href="https://bungalow.com/articles/how-to-rent-your-first-apartment-a-step-by-step-guide">https://bungalow.com/articles/how-to-rent-your-first-apartment-a-step-by-step-guide</a>
                    - Another great guide with resources on understanding lease terms, security deposits and more.</li>
            </ol>
            <p>
                <strong>Financial Resources - Programming Ideas</strong>
            </p>
            <ul>
                <li>Financial Basics Workshops</li>
                <li>Opening Bank Accounts, Writing Checks, Using Credit Cards</li>
                <li>Balancing Your Checkbook, Planning a Budget</li>
                <li>Paying Taxes</li>
                <li>The Truth about Loans (Student and otherwise)</li>
                <li>First time home buyer workshop&nbsp;</li>
                <li>Others?</li>
            </ul>
            <p>
                <strong>Young Parents Resources</strong>
            </p>
            <ul>
                <li>Act for Youth: Supporting Young Parents:
                    <a href="https://actforyouth.net/youth_development/professionals/yp/">https://actforyouth.net/youth_development/professionals/yp/</a>
                    - This website is a great resource and toolkit designed to help young parents and young professionals including support networks, housing, education, employment, parenting skills and child care resources.&nbsp;</li>
                <li>Child Welfare Information Gateway: Family Support Policy and Program Approaches:
                    <a href="https://www.childwelfare.gov/topics/supporting/support-services/policy/">https://www.childwelfare.gov/topics/supporting/support-services/policy/</a>
                    - This site provides worthwhile information for families including economic support and a number of other programs for families.&nbsp;</li>
                <li>The Annie E. Casey Foundation: Resources to Help Young Parents Thrive:
                    <a href="https://www.aecf.org/blog/resources-to-help-young-parents-thrive">https://www.aecf.org/blog/resources-to-help-young-parents-thrive</a>
                    - This site put together at the beginning of the pandemic highlights scholarly articles and resources that can be used to provide help for young parents including, education and mental health links.</li>
                <li>Urban.org: Serving Young Parents: Selected Resources for Young Parents, Practitioners and Policymakers:
                    <a href="https://www.urban.org/sites/default/files/2022-07/Serving%20Young%20Parents.pdf">https://www.urban.org/sites/default/files/2022-07/Serving%20Young%20Parents.pdf</a>
                    - This document highlights sites and helpful information on child development, health care, education programs and more.</li>
            </ul>
            <p>
                <strong>Young Parents Resources - Programming Ideas</strong>
            </p>
            <ul>
                <li>Storytime for new parents which focuses on the mental and physical health needs of mothers/fathers, offering a problem-solving local network, evidence-based health information relevant to mothers and parenting issues, and a glimpse of forthcoming developmental stages in those children attending</li>
                <li>A Baby Cafe hosted by a board-certified lactation consultant</li>
                <li>Meet the Doulas class giving information and an introduction to local doulas</li>
                <li>Baby yoga classes</li>
                <li>Homebound delivery service for new parents</li>
                <li>Others?</li>
            </ul>
            <p>
                <strong>LGBTQ+ Resources</strong>
            </p>
            <ul>
                <li>The Trevor Project:
                    <a href="http://www.thetrevorproject.org/resources/category/community">www.thetrevorproject.org/resources/category/community</a>
                    - The Trevor Project offers a wide variety of online resources for members of the LGBTQ community, allies, parents and more. These resources included mental health support, gender identity resources and community resources.</li>
                <li>Human Rights Campaign:
                    <a href="http://www.hrc.org/resources/direct-online-and-phone-support-services-for-lqbtq-youth">www.hrc.org/resources/direct-online-and-phone-support-services-for-lqbtq-youth</a>
                    - This site offers direct online and phone support services for LGBTQ youth - numbers include bully-free community spaces, runaway safelines and trans lifeline hotline.</li>
                <li>H.E.A.T. Program (Health and Education Alternatives for Teens):
                    <a href="https://www.heatprogram.org/">https://www.heatprogram.org/</a>
                    - HEAT&rsquo;s mission is to provide a unique health and mental health program that focuses on the special needs of young people who are at risk or living with HIV/AIDS and to remove the barriers that often prevent youth from accessing health care. HEAT also provides mental health services, transgender, lgbtq and women&rsquo;s health, and supportive services that include finding a job, housing, health insurance, going back to school or getting a GED.</li>
                <li>Hetrick-Martin Institute for LGBTQIA+ Youth:
                    <a href="https://hmi.org/">https://hmi.org/</a>
                    - The Hetrick-Martin Institute has developed a &ldquo;Community of Wellness&rdquo; for Queer and Trans Youth (ages 13-24) that includes support services like housing, food, health and wellness, education; quality of care services including a variety of therapies and document help to receive health insurance, get access to legal documents (i.e. birth certificate, etc.) and provide help with legal documents all at no charge.</li>
                <li>LGBT Network:
                    <a href="https://lgbtnetwork.org/">https://lgbtnetwork.org/</a>
                    - The LGBT Network is a non-profit that services Long Island and Queens and offers health and education services, advocacy, job and housing links and more.</li>
            </ul>
            <p>
                <strong>LGBTQ+ Programming Ideas</strong>
            </p>
            <ul>
                <li>LGBTQ 101 - Connect with a local organization to provide a program on definitions and explanations of terms like what LGBTQIA+ stands for.</li>
                <li>A lecture on the history of drag queens</li>
                <li>Pride month film festival that includes a selection of films by and/or starring members of the LGBTQ community</li>
                <li>Drag Queen Story Time</li>
                <li>Others?</li>
            </ul>
            <p>
                <strong>Travel Resources</strong>
            </p>
            <p>Nearly six in ten Gen Z travelers used their smartphones for travel inspiration and research (<a href="https://advertising.expedia.com/blog/travel-trends/gen-z-recovery-rebuilding/">Expedia</a>)</p>
            <p>The smartphone is the most important device for Generation Z when researching, booking, or canceling trips (<a href="https://etc-corporate.org/reports/study-on-generation-z-travellers/">European Travel Commission</a>)</p>
            <p>Younger travelers are more likely than older generations to consider sustainable travel options (<a href="https://advertising.expedia.com/blog/travel-trends/gen-z-recovery-rebuilding/">Expedia Group</a>).</p>
            <p>The vast majority of consumers (90 percent) are now looking for sustainable options when traveling, according to a survey of 11,000 global travelers conducted last year by Expedia Group Media Solutions. Half said they would pay more to take a sustainable trip. That&rsquo;s a sizeable demand, and the industry is finally (really) working to meet it.&nbsp;</p>
            <ul>
                <li>Gondwana Ecotours:
                    <a href="https://www.gondwanaecotours.com/">https://www.gondwanaecotours.com/</a>
                    - The
                    <a href="https://www.timeout.com/new-orleans">New Orleans</a>
                    based company specializes in small group and private tours that take on exhilarating experiences around the globe, such as gorilla trekking in Rwanda and eco adventures in Patagonia and Mendoza. A key component for Gondwana is its network of guides who live in the communities visited, adding a level of personal knowledge, depth and authenticity to the experience while providing tourism-generated income. The company is also committed to limiting its carbon footprint through sustainable travel practices.&nbsp;</li>
                <li>Discover Corps:
                    <a href="https://discovercorps.com/">https://discovercorps.com/</a>
                    - Discover Corps is the leader in the rapidly growing field of 'volunteer vacations' which focus on children, schools, animals and wildlife conservation. Yes, 'voluntourism' has often become a buzzword to cash-in on thinly veiled claims, earning criticism and scrutiny over the years. But Discover Corps operates with full transparency and has become something of a gold standard for the model.</li>
                <li>Pack Up + Go:
                    <a href="https://www.packupgo.com/">https://www.packupgo.com/</a>
                    - Pack Up + Go is a travel agency that books travel getaways in the U.S. with little to no hassle. The catch? Your destination is a surprise. Give the company your dates and budget, and complete a quick survey (sample question: Do you want action, relaxation, or culture?), and it will do the rest for you. Prior to your trip, you&rsquo;ll get a packing list, flight information, and a weather forecast. Days before you leave, an envelope with your destination and itinerary will arrive in the mail. Open it at the airport.</li>
                <li>Magical Mystery Tours:
                    <a href="https://magical-mystery-tours.com/">https://magical-mystery-tours.com/</a>
                    - Magical Mystery Tours specializes in customized mystery trips. Travelers set the parameters, we put together a trip based on those specifications, and then travelers discover their destination upon arriving at the airport! Unlike Pack Up + Go, this company will book international trips as well.</li>
            </ul>
            <p>
                <strong>Travel Programming Ideas</strong>
            </p>
            <ul>
                <li>Novel Destinations: A book club that reads books that focus on a destination. Club could be focuses on a specific continent for a few months and read different authors from that area.</li>
                <li>Virtual Road Trip or Virtual Travel - to give participants an idea of different areas they can explore</li>
                <li>Travel Kits: Put together a travel book on a location along with a movie that features that location.</li>
            </ul>
        </div>
    </div>
</section>
