---
layout: layout.liquid
title: Home Page
---

<section id="Hero" class="section-padding">
    <div class="container container-small text-center content">
        <h1 >The New Adult in the Library:</h1>
        <h4 >What They Want And What Libraries Can Offer<br/>and How We Can Keep Them Coming Back To Us.</h4>
        <div class="line"></div>
        <div class="body">
            <p class='text-center font-medium'>The term “New Adult” can be interchangeably used with the term “Emerging Adult”. When Librarians think of this demographic it can easily become overwhelming to understand who we are serving. Typically those who fall within this demographic are 18-30 year old patrons. This age range however is not concrete. This is to say that librarians should think in terms of skill set and life stages. Most commonly for those in this stage of life will be experiencing life in a post college/ education world, financial management, personal relationships changes from those that they experienced in the teenage years. </p>
        </div>
    </div>
</section>
<section id="Body" class="section-padding bg-gray">
    <div class="container container-xsmall">
        <div class="link-wrapper">
            <a class="link-item" href="one">
                <h2>1</h2>
                <p>Community</p>
            </a>
                        <a class="link-item" href="two">
                <h2>2</h2>
                <p>Accessibility</p>
            </a>
                        <a class="link-item" href="three">
                <h2>3</h2>
                <p>Retainment</p>
            </a>
            <a class="link-item" href="four">
                <h2>4</h2>
                <p>Reintroduction</p>
            </a>
        </div>
    </div>
</section>