---
layout: layout.liquid
title: Community Engagement
---

<section class="data-section section-padding">
    <div class="container">
        <h1 class="h2 text-center mb-12">Community Engagement</h1>
        <div>
            <p>Increase Community engagement between Public Libraries and New Adults</p>
        </div>
    </div>
</section>