---
layout: layout.liquid
title: Retainment
---

<section class="data-section section-padding">
    <div class="container">
        <h1 class="h2 text-center mb-12">Retainment</h1>
        <div>
            <p>Retain this demographic after they leave HS / before they enter the workforce</p>
            <ul>
                <li>Outreach to College Age Students, and providing professional assistance to those in the workforce. Ex. Resume, Tech Skills Development.</li>
            </ul>
        </div>
    </div>
</section>