---
layout: layout.liquid
title: One
---

<section class="data-section section-padding">
    <div class="container">
        <h1 class="h2 text-center mb-12">Accessibility</h1>
        <div>
            <p>Accessibility getting more items both digitally and physically into New Adults hands</p>
                
            <p>Renew their library cards automatically and incentivize New Adults to use them. Then, use that interaction to re-connect.</p>
            
            <p>If you have a system where cards need to be renewed, a blanket automatic renewal is a great promotional tactic. Automatic renewal of library cards is a best practice.</p>
            <p>Get their email address.</p>
            <p>Get them to self-identify their interests. Are they looking for help solving a particular problem, like finding a job? Are they looking for books for entertainment and relaxation?</p>
            
            <p>Give them a print piece of marketing material to encourage further use of the library. Don't let them leave this interaction without something in their hands. Remind them that the library is open and actively providing service to them.</p>
            
            <p><span class="font-bold">Book Displays: </span>Choosing items that resonate with the current interest and main media trends of new adults in your area is the first place to start. Find out what the NewAdults in your community are already interested in and create displays centering around them.</p>
            
            <p>If the New Adults in your community are social media driven then use your libraries social media accounts to create book highlight reels, or create posts with links to the libraries catalog or libby accounts.</p>
            <p><span class="font-bold">Book Clubs Meet Them Where they are at to get materials in their hands: </span>Many new adults are looking to make friends, they are sometimes in a new place or are finding themselves for the first time with no friends who live locally any longer. Gone are the days of meeting their friends after class. Libraries can start to combine book clubs with happy hours at a local bar, mini golf outings while discussing books and other events outside the walls of the library building.</p>
        </div>
    </div>
</section>